import * as React from 'react'

import { HomeContainer } from './home'

export class App extends React.Component<{}, void> {
    constructor() {
    super()
}

render() {
    return (
        <div>
            <HomeContainer />
        </div>
        )
    }
}
