@import './mixin.styl'

html
  background-color: $G30

body
  padding: 0
  margin: 0
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Segoe UI", "Helvetica Neue", "PingFang SC", "Noto Sans", "Noto Sans CJK SC", "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1", sans-serif
  -webkit-font-smoothing: antialiased
  overflow-y: auto
  overflow-x: hidden
  $scroll-bar()
