{
  "compilerOptions": {
    "jsx": "react",
    "module": "es6",
    "moduleResolution": "node",
    "rootDir": "./",
    "sourceMap": true,
    "target": "ES5",
    "lib": ["es2015", "dom"],
    "skipLibCheck": true,
    "typeRoots": [
      "node_modules/@types"
    ],
    "importHelpers": true,
    "experimentalDecorators": true,
    "allowSyntheticDefaultImports": true,
    "newLine": "lf",
    "noEmitHelpers": true,
    "noImplicitAny": false,
    "noImplicitReturns": true,
    "noImplicitThis": true,
    "noUnusedLocals": true,
    "noUnusedParameters": true,
    "removeComments": true,
    "strictNullChecks": true,
    "suppressImplicitAnyIndexErrors": true
  },
  "include": [
    "src"
  ],
  "exclude": [
    "node_modules"
  ]
}
