const express = require('express')
const bodyParser = require('body-parser')
const app = express()
const http = require('http')
const server = http.createServer(app)
{{#isSocketEndpointAvailable}}
    let io = require('socket.io')(server)
{{/isSocketEndpointAvailable}}
{{#isProxyEndpoints}}
    let proxy = require('express-http-proxy')
{{/isProxyEndpoints}}
let port = {{port}}

app.get('/status', (req, res) => res.send('API server running.'))

app.use(bodyParser.json())
app.use(bodyParser.urlencoded({ extended: true }))

app.options('/*', (req, res, next) => {
res.header('Access-Control-Allow-Origin', '*')
res.header('Access-Control-Allow-Methods', 'GET,PUT,POST,DELETE,OPTIONS')
res.header('Access-Control-Allow-Headers', 'Content-Type, Authorization')
res.send(200)
})

{{#endpoints}}
    app.{{httpMethod}}('{{{url}}}', (req, res) => {
    {{#headers}}
        res.set('{{key}}', '{{value}}')
    {{/headers}}
    res.set('Content-Type', '{{{response.contentType.contentType}}}')
    res.status({{response.responseCode}})
    {{#response.contentType.eval}}
        {{{response.content}}}
    {{/response.contentType.eval}}
    {{^response.contentType.eval}}
        res.send('{{{response.content}}}')
    {{/response.contentType.eval}}
    })
{{/endpoints}}

{{#isSocketEndpointAvailable}}
    io.on('connection', (socket) => {
    {{#socketEndpoints}}
        socket.on('{{eventName}}', function(data) {
        {{#isEmitSelf}}
            io.to(socket.id).emit('{{eventToEmit}}', {{{payload}}});
        {{/isEmitSelf}}
        {{#isEmitAll}}
            io.sockets.emit('{{eventToEmit}}', {{{payload}}});
        {{/isEmitAll}}
        {{#isEmitBroadcast}}
            socket.broadcast.emit('{{eventToEmit}}', {{{payload}}});
        {{/isEmitBroadcast}}
        });
    {{/socketEndpoints}}
    });
{{/isSocketEndpointAvailable}}

{{#proxyEndpoints}}
    app.use('{{{url}}}', proxy('{{{urlToProxy}}}', {
    forwardPath: (req, res) => {
    return require('url').parse(req.url).path
    }
    }))
{{/proxyEndpoints}}

server.listen(port, () => console.log('{{name}} API is available at: http://localhost:' + port))
