{
    "HOST": "https://{{name}}.com",
    "PORT": {{port}},
    "TOKEN_SECRETS": ["something_secret"],
    "STRIKER_TOKEN": "something_secret",
    "IS_DEV": false,
    "session": {
        "domain": "you test domain",
        "key": "session key"
    },
    "oauth": {
        "protocol": "http",
        "authHost": "{{name}}.com",
        "apiHost": "{{name}}.com"
  },
    "session_keys": ["account key"]
}
