{
    "objectMissing": "Object %s missing",
    "objectConflict": "Object %s conflict",
    "noPermission": "No permission",
    "notProjectMember": "Not project member",
    "notAuthorized":"Not authorized",
    "notLogin": "Not login",
    "paramMissing": "Params missing %s",
    "paramInvalid": "Params invalid %s",
    "appNotFound": "App not found",
    "invalidExt": "Invalid extension %s",
    "noAppUrl": "The application do not have redirect url",
    "appNotApproved": "The application is unapproved",
    "appHasActivated": "The application is actived",
    "methodMissing": "The method was not found",
    "paramTypeInvalid": "Invalid param type",
    "categoryNotFound": "Category not found",
    "invalidSign": "Invalid webhook's signature",
    "internalParamMissing": "Missing params %s when calling functions"
}
