{
    "name": "{{name}}",
    "version": "1.0.0",
    "description": "{{name}} API Service",
    "main": "index.js",
    "scripts": {
    "start": "node server.js"
    },
    "author": "toman",
    "license": "ISC",
    "dependencies": {
    {{{#isSocketEndpointAvailable}}}
    "socket.io": "^1.4.5",
    {{{/isSocketEndpointAvailable}}}
    {{{#isProxyEndpoints}}}
    "express-http-proxy": "^0.7.1",
    {{{/isProxyEndpoints}}}
    "express": "^4.13.4",
    "body-parser": "1.15.2"
    },
    "devDependencies": {
    "chai": "^3.5.0",
    "istanbul-harmony": "^0.3.16",
    "mocha": "^3.2.0",
    "should": "^11.1.2"
    }
}