'use strict'
/* global sneaky */
sneaky('dev', function () {
this.description = 'Deploy to dev-21 environment'
this.path = '{{name}}-21-env'

this.user = 'node4'
this.port = 22

this.filter = [
    '+ dist**',
    '+ config**',
    '+ app.js',
    '+ package.json',
    '+ locales**',
    '+ secrets**',
    '+ pm2**',
    '+ scripts**',
    '- **'
    ].join('\n')

    this.after([
    'npm i --production',
    ''
    ].join(' && '))

    this.overwrite = true
    this.nochdir = true
})

sneaky('ga', function () {
    this.description = 'Deploy to pre-ga environment'
    this.user = 'builder'
    this.port =
    this.host = ''
    this.path = '{{name}}-ga-env'
    this.filter = `
    '+ dist**',
    '+ config**',
    '+ app.js',
    '+ package.json',
    '+ locales**',
    '+ secrets**',
    '+ pm2**',
    '+ scripts**',
    '- **'
    `

    this.after([
    'npm i --production',
    'cd dist && pm2 start ../pm2/ga.json'
    ]
    .join(' && '))
    this.overwrite = true
    this.nochdir = true
})

sneaky('release', function () {
    this.description = 'Deploy to pre-release environment'
    this.user = 'builder'
    this.port =
    this.host = ''
    this.path = '{{name}}-release-env'
    this.filter = `
    '+ dist**',
    '+ config**',
    '+ app.js',
    '+ package.json',
    '+ locales**',
    '+ secrets**',
    '+ pm2**',
    '+ scripts**',
    '- **'
    `

    this.after([
    'npm i --production',
    ''
    ].join(' && '))
    this.overwrite = true
    this.nochdir = true
})
