'use strict'

module.exports = function (Schema) {
  return new Schema({
    name: {type: String, 'default': ''},
    email: {type: String, 'default': ''},
  }, {
    read: 'secondaryPreferred'
  })
}
