{
    "objectMissing": "未找到对象 %s",
    "objectConflict": "生成失败 %s",
    "noPermission": "无权限访问",
    "noAuthorization": "未被授权",
    "notProjectMember": "非本项目成员",
    "notLogin": "未登录",
    "paramMissing": "缺少参数 %s",
    "paramInvalid": "参数错误 %s",
    "appNotFound": "应用未找到",
    "invalidExt": "错误的扩展名类型 %s",
    "noAppUrl": "未设置应用跳转地址",
    "appNotApproved": "应用未通过审核",
    "appHasActivated": "应用已开启",
    "methodMissing": "方法不存在",
    "paramTypeInvalid": "错误的参数类型",
    "categoryNotFound": "分类未找到",
    "invalidSign": "错误的 webhook 签名",
    "internalParamMissing": "调用方法缺少参数 %s"
}
